/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background-color: #141922;
    color: white;
    padding-top: 80px;
}



/* SIDEBAR */

.sidebar {
    height: calc(100% - 100px);
    width: 200px;
    background-color: black;
    color: grey;
    font-size: 13px;
    font-weight: bold;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto;

}

.logo {
    margin-bottom: 25px;
}

.logo-small {
    display: none;
}

.w-25 {
    width: 25px;
    height: 25px;
}

.w-18 {
    width: 18px;
    height: 18px;
}

.white {
    color: white;
}

.app {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.name {
    margin-top: 10px;
}

.icon {
    background-color: grey;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: grey;
}

.playlist {
    margin-top: 20px;
}

.fa-plus {
    background-color: #989898;
    font-size: 25px;
    color: black;
    padding: 5px;
    margin-right: 5px;
}

.playlist ul li {
    line-height: 35px;
}

/* CONTAINER MUSIC */

.container-music>* {
    margin-left: 200px;
    padding: 25px;
}

.container-music {
    overflow: auto;

}

header {
    background-color: #080B12;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
}

ul {
    list-style: none;
    align-items: center;
    margin-top: 25px;
}

.d-flex {
    display: flex;
}

.upgrade {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 25px;
}

.navigation  ul{
    flex-wrap: wrap;
    justify-content: center;
}

.navigation li{
    margin: 10px 15px;
}

.notext {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
}

.row {
    display: flex;
    margin-top: 25px;
}

.col {
    text-align: center;
    width: calc(100% / 6);
    padding: 10px;
}

.col h3 {
    color: white;
}

.cover {
    width: 100%;
}

.row-recommented {
    display: flex;
    margin-top: 25px;
}

h1 {
    margin-top: 50px;
}

h3 {
    margin-top: 10px;
}

h4 {
    color: grey;
    font-size: 13px;
    margin-top: 10px;
}

.border {
    border-radius: 50%;
}

.title,
.sub-title {
    margin-left: 10px;
}

/* PLAYBAR */

.playbar {
    min-width: 100%;
    background-color: #282828;
    height: 100px;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.row-playbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.col-70 {
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.col-left {
    width: 25%;
    justify-content: space-around;
    align-items: center;

}

.col-right {
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

.description {
    flex-direction: column;
}

.description span {
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.col-left img {
    width: 50px;
    height: 50px;
}

.col-left i {
    color: grey;
    padding: 10px;
}

.col-50>i {
    font-size: 20px;
    padding: 0px 10px;
}

.col-50 .fa-circle-play {
    font-size: 35px;
}

.timeline {
    height: 4px;
    width: 80%;
    border-radius: 20px;
    background-color: grey;
    margin: 0px 15px;
}

.timeline-white {
    height: 4px;
    width: 20%;
    border-radius: 20px;
    background-color: lightgray;
}


.vol-line {
    height: 4px;
    width: 200px;
    border-radius: 20px;
    background-color: grey;
    margin: 0px 5px;
}

.vol-line-white {
    height: 4px;
    width: 20%;
    border-radius: 20px;
    background-color: lightgray;
}

.col-right>i {
    padding: 0px 10px;
}

.col-50 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

.col-100 {
    display: flex;
    font-weight: bold;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 13px;
}



/* RESPONSIVE */

@media screen and (max-width: 992px) {


    .row {
        flex-wrap: wrap;
    }

    .col {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 768px) {
    
    .col {
        flex-basis: 50%;
    }

    .clm {
        flex-direction: column;
    }

    .col-left i {
        padding: 0px;
    }
}

@media screen and (max-width: 576px) {

    .sidebar {
        width: 50px;
    }

    .container-music {
        margin-left: -160px;
    }

    .col-left img {
        width: 35px;
        height: 35px;
    }

    .col-100 {
        width: 75%;
    }

    .col-left, .col-right {
        width: 30%;
    }

    .description h3 {
        font-size: 13px;
    }

    .description span {
        font-size: 11px;
    }

    

    .sidebar li {
        display: none;
    }

    .sidebar span {
        display: none;
    }

    .sidebar {
        padding: 10px;
        text-align: center;
    }

    .w-18 {
        width: 20px;
        height: 20px;
    }

    .app {
        border-bottom: none;
    }
    
    .logo-big {
        display: none;
    }

    .logo-small {
        display: inline;
    }

    .w-25 {
        margin-top: 5px;
    }

    .container-music header {
        margin-left: 0px;
    }

}

/* HOVER */

a:hover {
    color: white;
}

li:hover {
    color: white;
}

.fa-plus:hover {
    background-color: white;
}
.fa-heart:hover {
    color: red;
}

.fa-folder:hover {
    color: goldenrod;
}

.song:hover {
    text-decoration: underline;
}

.button:hover {
    transform: scale(1.05);
}

.timeline-white:hover {
    background-color: greenyellow;
}

.vol-line-white:hover {
    background-color: greenyellow;
}


.col:hover img {
    filter: brightness(50%);
    
}

.col:hover img::after {
    content: '\f144';
    color: white;
}